@model IEnumerable<Animal>

    <h2>Dierenbeheer</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Soort</th>
                <th>Leeftijd</th>
                <th>Verblijf</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => animal.Name)</td>
                <td>@Html.DisplayFor(modelItem => animal.Species)</td>
                <td>@Html.DisplayFor(modelItem => animal.Age)</td>
                <td>@Html.DisplayFor(modelItem => animal.Enclosure.Name)</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@animal.Id" class="btn btn-sm btn-warning">Bewerken</a>
                    <a asp-action="Delete" asp-route-id="@animal.Id" class="btn btn-sm btn-danger">Verwijderen</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a asp-action="Create" class="btn btn-success">Nieuw Dier Toevoegen</a>
